<div>
  <h2 class="text-center font-weight-bold mb-4">Buscar Usuarios</h2>
  
  <form [formGroup]="searchForm" class="form-inline mb-4">
    <input type="text" formControlName="cedula" placeholder="Cédula" class="form-control mr-2" />   
    <input type="text" formControlName="nombre" placeholder="Nombre Completo" class="form-control mr-2" />
    <select formControlName="centroFormacion" class="form-control mr-2">
      <option value="">Seleccione un Centro de Formación</option>
      <option *ngFor="let centro of centros" [value]="centro.id">{{ centro.nombre }}</option>
    </select>
    <input type="email" formControlName="email" placeholder="Correo Electrónico" class="form-control mr-2" />
  </form>
  
  <div class="user-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="cedula">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> CÉDULA </th>
        <td mat-cell *matCellDef="let user" class="centered-cell"> {{ user.cedula || 'N/A' }} </td>
      </ng-container>
  
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> NOMBRE </th>
        <td mat-cell *matCellDef="let user" class="centered-cell"> {{ user.primerNombre }} {{ user.segundoNombre }} {{ user.primerApellido }} {{ user.segundoApellido }} </td>
      </ng-container>
  
      <ng-container matColumnDef="centroFormacion">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> CENTRO DE FORMACIÓN </th>
        <td mat-cell *matCellDef="let user" class="centered-cell"> {{ user.centroFormacion || 'N/A' }} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> CORREO ELECTRÓNICO </th>
        <td mat-cell *matCellDef="let user" class="centered-cell"> {{ user.email || 'N/A' }} </td>
      </ng-container>
  
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> TELÉFONO </th>
        <td mat-cell *matCellDef="let user" class="centered-cell"> {{ user.telefono || 'N/A' }} </td>
      </ng-container>
  
      <ng-container matColumnDef="tipoUsuario">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> TIPO DE USUARIO </th>
        <td mat-cell *matCellDef="let user" class="centered-cell"> {{ user.tipoUsuario || 'N/A' }} </td>
      </ng-container>
  
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="header-cell acciones-header"> ACCIONES </th>
        <td mat-cell *matCellDef="let user" class="centered-cell">
          <button mat-button color="primary" (click)="onEdit(user)">
            <i class="fas fa-edit"></i>
          </button>
          <button mat-button color="warn" class="delete-button" (click)="onDelete(user)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr *ngIf="filteredResults.length === 0">
        <td colspan="7" class="text-center">No se encontraron usuarios.</td>
      </tr>
    </table>
  </div>

  <mat-paginator [length]="dataSource.data.length"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
</div>
