.instructor-history-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form {
  margin-bottom: 20px;
  text-align: center; /* Centramos el formulario */
}

.btn-primary {
  color: white;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  table-layout: fixed; /* Asegura que la tabla no se sobresalga */
}

.table th,
.table td {
  text-align: center; /* Centra horizontalmente */
  vertical-align: middle; /* Centra verticalmente */
  word-wrap: break-word; /* Asegura que el texto se ajuste dentro de la celda */
  padding: 8px;
}

.no-results {
  margin-top: 20px;
  text-align: center;
  color: #888888;
}

.user-table-container {
  max-height: 570px;
  overflow-y: auto;
  position: relative;
}

.mat-mdc-header-cell,
.mat-cell {
  text-align: center; /* Centramos el texto */
  background-color: #2c2c2c !important;
  color: #cccccc !important;
  text-transform: uppercase;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
}

.form-inline .form-control {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Estilos específicos para el botón que contiene el icono del ojito */
.icon-btn {
  background: none; /* Quita el fondo del botón */
  border: none; /* Quita el borde del botón */
  padding: 0; /* Sin padding */
  cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

.icon-btn:hover {
  background: none; /* Quita el fondo del botón al hacer hover */
}

/* Estilos específicos para el icono del ojito */
mat-icon {
  color: #007bff; /* Color azul para el icono del ojito */
  font-size: 20px; /* Ajusta el tamaño si es necesario */
  line-height: 24px;
}

mat-icon:hover {
  color: #0056b3; /* Color azul más oscuro al pasar el cursor */
}






