<div class="admin-dashboard container-fluid d-flex flex-column justify-content-center align-items-center vh-100">
  <header class="w-100 d-flex justify-content-end p-3">
    <div class="dropdown">
      <div class="admin-label d-flex align-items-center dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-cog"></i> <span class="ml-2">Administrador</span>
      </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Actualizar Datos</a>
        <a class="dropdown-item" href="#">Cerrar Sesión</a>
      </div>
    </div>
  </header>
  <div class="content-container bg-white p-4 rounded" style="width: 90%; max-width: 1200px;">
    <div class="row no-gutters">
      <aside class="sidebar col-12 col-md-3 p-3 rounded d-flex flex-column align-items-center">
        <img src="/img/logoSena.png" alt="Logo Sena" class="logo img-fluid mb-3">
        <ul class="nav flex-column mt-auto mb-auto">
          <li class="nav-item mb-2 text-center">
            <a class="btn btn-secondary btn-block d-flex flex-column align-items-center" [routerLink]="['register-user']">
              <i class="fas fa-user-plus"></i>
              <span>Registrar Usuarios</span>
            </a>
          </li>
          <li class="nav-item mb-2 text-center">
            <a class="btn btn-secondary btn-block d-flex flex-column align-items-center" [routerLink]="['search-user']">
              <i class="fas fa-search"></i>
              <span>Buscar Usuarios</span>
            </a>
          </li>
        </ul>
      </aside>
      <main class="content col-12 col-md-9">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>




















  
  
