body {
    font-family: inherit; /* Utiliza la fuente madre establecida */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.content-container {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    padding-top: 1rem; /* Ajustar para bajar el texto "Administrador" */
}

.admin-label {
    font-size: 1.2rem;
    color: #333;
    cursor: pointer; /* Cambiar cursor a pointer para indicar que es clickeable */
}

.sidebar {
    background-color: #e0e0e0; /* Color gris claro para el sidebar */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ancho completo en dispositivos móviles */
    max-width: 150px; /* Ajustar ancho máximo en pantallas más grandes */
}

.logo {
    width: 100%; /* Hacer que el logo abarque todo el ancho de la barra lateral */
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: auto; /* Empuja los botones hacia abajo */
    margin-bottom: auto; /* Centra los botones verticalmente */
}

.sidebar ul li {
    margin-bottom: 10px;
    display: flex; 
    justify-content: center; /* Centrar el botón */
}

.sidebar ul li a {
    width: 100%; /* Asegura que el botón abarque todo el ancho */
    padding: 30px; /* Aumentar tamaño del botón */
    background-color: #b0b0b0; /* Color gris oscuro para los botones */
    color: black; /* Color del texto */
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem; /* Disminuir tamaño de la fuente del botón */
}

.sidebar ul li a i {
    font-size: 2.5rem; /* Aumentar tamaño del icono */
    color: black; /* Color del icono */
    margin-bottom: 5px; /* Espacio entre el icono y el texto */
    width: 100%; /* Asegura que el icono ocupe todo el ancho del botón */
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #8f8f8f; /* Hover para los botones */
}

.content {
    flex: 1;
    padding: 20px;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}

form {
    padding: 2rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}

button:hover {
    background-color: #333;
}


