<div class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="close()">&times;</span>
    <div *ngIf="!showMessage">
      <h2 class="modal-title">Recuperar Contraseña</h2>
      <p class="modal-description">Ingrese la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos un enlace para restablecer su contraseña.</p>
      <form (ngSubmit)="sendForgotPasswordEmail()">
        <div class="form-group">
          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" placeholder="flopezsantana@soysena.edu.co" required>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
    <div *ngIf="successMessage" class="success-message">
      Ve a tu correo <span class="email-bold">{{ email }}</span> y haz clic en el enlace de restablecimiento de contraseña que se te ha enviado.
    </div>
  </div>
</div>




















  