.modal {
  display: flex; /* Usar flex para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  position: fixed; /* Fijar el modal */
  z-index: 1; /* Ubicarlo por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Desplazar si es necesario */
  background-color: rgba(0,0,0,0.4); /* Fondo oscuro con opacidad */
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Reducir el ancho del contenido modal */
  position: relative; /* Para posicionar el botón de cierre */
}

.close-button {
  color: #aaa;
  position: absolute; /* Posicionar absolutamente */
  right: 20px; /* Alinear a la derecha */
  top: 10px; /* Alinear a la parte superior */
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  text-align: center; /* Centrar el título */
  font-weight: bold; /* Negrita */
  font-size: 1.2em; /* Reducir el tamaño del texto */
  margin-bottom: 10px; /* Añadir margen inferior para espacio */
}

.modal-description {
  text-align: center; /* Centrar la descripción */
  margin-top: 15px; /* Añadir margen superior para espacio */
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.error-message {
  color: #d9534f;
  margin-top: 5px; /* Añadir margen superior para espacio */
  font-weight: bold;
}

.success-message {
  text-align: center; /* Centrar el mensaje de éxito */
  margin-top: 40px; /* Añadir margen superior para espacio */
  color: green;
}

.email-bold {
  font-weight: bold; /* Negrilla para el correo */
}

.btn-primary {
  background-color: #000; /* Color negro */
  border: 1px solid #ccc; /* Agregar borde al botón */
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #444; /* Hover en negro oscuro */
  border-color: #666; /* Cambiar borde en hover */
}

/* Nuevo estilo para mantener la misma gama de colores */
input:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 5px #666;
}






  