/* Establece la fuente para todo el componente */
:host {
  font-family: 'Inria Serif', serif;
}

/* Estilo para el título del modal */
.modal-title {
  text-align: center; /* Centra el título */
  font-weight: bold; /* Hace el título en negrita */
  font-size: 1.2em; /* Aumenta el tamaño de la fuente */
  margin-bottom: 10px; /* Añade espacio debajo del título */
}

/* Estilo para el botón de cierre en el modal */
.close-button {
  position: absolute; /* Posiciona el botón en la esquina superior derecha */
  top: 10px;
  right: 10px;
  color: #aaa; /* Color gris para el botón */
}

/* Estilo cuando el botón de cierre es hovered o está en foco */
.close-button:hover,
.close-button:focus {
  color: black; /* Cambia el color a negro al pasar el ratón o al enfocar */
  text-decoration: none; /* Elimina el subrayado */
  cursor: pointer; /* Cambia el cursor a puntero */
}

/* Estilo para la descripción dentro del modal */
.modal-description {
  text-align: center; /* Centra la descripción */
  margin-top: 15px; /* Añade espacio encima */
}

/* Estilo para los mensajes de error dentro del modal */
.error-message {
  color: #f44336; /* Color rojo para el mensaje de error */
  margin-top: 10px; /* Añade espacio encima del mensaje */
}

/* Estilo para los mensajes de éxito dentro del modal */
.success-message {
  text-align: center; /* Centra el mensaje de éxito */
  margin-top: 40px; /* Añade espacio encima */
  margin-bottom: 40px; /* Añade espacio debajo */
  color: green; /* Color verde para el mensaje */
  padding: 20px; /* Añade relleno alrededor del mensaje */
  border: 1px solid #ddd; /* Añade un borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo gris claro para el mensaje */
}

/* Estilo para el contenedor del mensaje de éxito */
.success-message-container {
  position: relative; /* Permite posicionar el botón de cierre dentro del contenedor */
  padding: 20px; /* Añade relleno alrededor del contenedor */
}

/* Estilo para hacer que el texto de correo electrónico esté en negrita */
.email-bold {
  font-weight: bold;
}

/* Estilo para los botones dentro del modal */
button {
  margin-right: 8px; /* Añade espacio a la derecha de cada botón */
}

/* Estilo para los campos de entrada de correo electrónico con ancho completo */
mat-form-field.full-width {
  width: 100%; /* Hace que el campo ocupe todo el ancho disponible */
}
