:host {
  font-family: 'Inria Serif', serif;
}

.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-description {
  text-align: center;
  margin-top: 15px;
}

.error-message {
  color: #f44336;
  margin-top: 10px;
}

.success-message {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; /* Añadir espacio inferior */
  color: green;
  padding: 20px; /* Añadir relleno alrededor del mensaje */
  border: 1px solid #ddd; /* Añadir borde */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Color de fondo claro */
}

.success-message-container {
  position: relative; /* Para posicionar el botón de cierre */
  padding: 20px; /* Añadir relleno alrededor del contenedor */
}

.email-bold {
  font-weight: bold;
}

button {
  margin-right: 8px;
}

/* Añadir estilo para el campo de entrada de correo electrónico */
mat-form-field.full-width {
  width: 100%;
}








  