<!-- Sección que se muestra si no hay mensaje de éxito -->
<div *ngIf="!showMessage">
  <!-- Título del modal -->
  <h2 mat-dialog-title class="modal-title">Recuperar Contraseña</h2>

  <mat-dialog-content>
    <!-- Formulario para recuperar la contraseña -->
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendForgotPasswordEmail()">
      
      <!-- Descripción del formulario -->
      <p class="modal-description">Ingrese la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos un enlace para restablecer su contraseña.</p>

      <!-- Campo para ingresar el correo electrónico -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" placeholder="ejemplo@soysena.edu.co" required>
        <!-- Mensaje de error si el correo no es válido -->
        <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid">Introduce un correo válido</mat-error>
      </mat-form-field>

      <!-- Mensaje de error si existe un error -->
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <!-- Botones de acción del modal -->
      <div mat-dialog-actions align="end">
        <button mat-button type="button" (click)="close()">Cancelar</button>
        <button mat-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">Enviar</button>
      </div>
    </form>
  </mat-dialog-content>
</div>

<!-- Sección que se muestra si ya se envió el mensaje de éxito -->
<div *ngIf="showMessage" class="success-message-container">
  <!-- Botón para cerrar el mensaje de éxito -->
  <button mat-icon-button (click)="close()" class="close-button" aria-label="Cerrar">
    <mat-icon>close</mat-icon>
  </button>

  <!-- Mensaje de éxito -->
  <div class="success-message">
    Ve a tu correo <span class="email-bold">{{ forgotPasswordForm.value.email }}</span> y haz clic en el enlace de restablecimiento de contraseña que se te ha enviado.
  </div>
</div>
