/* Contenedor principal del formulario de registro */
.register-user-container {
  max-width: 800px; /* Establece el ancho máximo */
  margin: auto; /* Centra el contenedor horizontalmente */
  padding: 1rem; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para los grupos de formularios */
.form-group {
  margin-bottom: 1rem; /* Espaciado inferior */
}

/* Configuración de la fila de formulario */
.form-row {
  display: flex; /* Usar flexbox */
  flex-wrap: wrap; /* Permite el salto de línea si es necesario */
}

/* Configuración de los elementos en columnas de 50% en pantallas grandes */
.form-group.col-md-6 {
  flex: 0 0 50%; /* Toma el 50% del ancho */
  max-width: 50%; /* Limita el ancho máximo a 50% */
}

/* Estilo para las etiquetas de los formularios */
.form-group label {
  display: block; /* Bloque de visualización */
  margin-bottom: 0.5rem; /* Espaciado inferior */
}

/* Estilo para los campos de entrada de texto */
.form-control {
  width: 100%; /* Ancho completo */
  padding: 0.5rem; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 5px; /* Bordes redondeados */
  color: #000; /* Color de texto */
}

/* Estilo para el select (campo desplegable) */
select {
  background-color: white; /* Fondo blanco */
  color: black; /* Texto negro */
  border: 1px solid #ccc; /* Borde gris */
  padding: 0.5rem; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
}

/* Estilo para las opciones del select */
select option {
  background-color: white; /* Fondo blanco */
  color: black; /* Texto negro */
}

/* Estilo para la opción seleccionada del select */
select option:checked {
  background-color: white; /* Fondo blanco */
  color: black; /* Texto negro */
}

/* Estilo para los botones */
.btn {
  display: inline-block; /* Mostrar como bloque en línea */
  padding: 0.5rem 1rem; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #000; /* Fondo negro */
  color: white; /* Texto blanco */
  cursor: pointer; /* Cursor de mano */
}

/* Estilo del botón oscuro al pasar el ratón */
.btn-dark:hover {
  background-color: #333; /* Fondo gris oscuro */
}

/* Alineación del texto a la derecha */
.text-right {
  text-align: right; /* Alineación derecha */
}

/* Estilo de enfoque en los campos de entrada */
input:focus, .form-control:focus {
  outline: none; /* Elimina el borde de enfoque predeterminado */
}

/* Estilo para los mensajes de snack bar (notificaciones) */
.snack-bar-success {
  background-color: #4CAF50 !important; /* Verde para éxito */
  color: white !important; /* Texto blanco */
}

.snack-bar-error {
  background-color: #F44336 !important; /* Rojo para error */
  color: white !important; /* Texto blanco */
}

.snack-bar-warning {
  background-color: #FF9800 !important; /* Naranja para advertencia */
  color: white !important; /* Texto blanco */
}
