/* Contenedor principal */
.registrar-elemento-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

/* Formulario */
.registrar-elemento {
  padding: 2rem;
}

/* Título del formulario */
.registrar-elemento h2 {
  margin-bottom: 3rem; /* Más espacio debajo del título */
  text-align: center;
  font-size: 1.8rem;
}

/* Espaciado entre los grupos de campos */
.registrar-elemento .form-group {
  margin-bottom: 1.5rem;
}

/* Etiquetas de los campos */
.registrar-elemento label {
  font-weight: bold;
  display: block; /* Asegura que la etiqueta esté arriba del input */
  margin-bottom: 0.5rem;
}

/* Campos de entrada y select */
.registrar-elemento .form-control {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Botón de enviar */
.registrar-elemento .btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}

/* Mensajes de notificación */
.snack-bar-success {
  background-color: #4caf50; /* Verde para éxito */
  color: white;
}

.snack-bar-error {
  background-color: #f44336; /* Rojo para error */
  color: white;
}

.snack-bar-warning {
  background-color: #ff9800; /* Naranja para advertencia */
  color: white;
}

.imagen-elemento {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; /* O prueba object-fit: cover */
  max-width: 100%; 
}

.preview-container {
  margin-top: 10px;
  text-align: center;
}

.imagen-preview {
  max-width: 100%;
  max-height: 300px; /* Ajusta el tamaño según sea necesario */
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


