.search-user-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #666;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  table-layout: fixed; /* Asegura que la tabla no se sobresalga */
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word; /* Para evitar que el contenido se sobresalga */
  padding: 8px; /* Asegura que el contenido tenga espacio suficiente */
}

.no-results {
  margin-top: 20px;
  text-align: center;
  color: #888888;
}

.user-table-container {
  max-height: 650px; /* Define una altura máxima para la tabla */
  overflow-y: auto; /* Habilita el scroll vertical */
  position: relative;
}

/* Estilos personalizados para la cabecera de la tabla */
.mat-mdc-header-cell {
  background-color: #2c2c2c !important; /* Fondo gris más oscuro */
  color: #cccccc !important; /* Texto gris claro */
  text-transform: uppercase;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
}

.acciones-header {
  width: 100px; /* Ajuste del ancho de la columna de acciones */
}

.delete-button {
  color: red !important; /* Color del botón de eliminar con !important para asegurarlo */
}

/* Ajuste para el contenido en el formulario */
.form-inline .form-control {
  margin-right: 10px;
  margin-bottom: 10px;
}


