<!-- Contenido del modal -->
<div class="modal-content">

  <!-- Encabezado del modal con título y botón de cierre -->
  <div class="modal-header">
    <!-- Título del modal con el nombre del elemento -->
    <h2 mat-dialog-title>{{ data.nombre }}</h2>
    
    <!-- Botón para cerrar el modal -->
    <button mat-icon-button mat-dialog-close class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Contenido del modal, muestra la imagen del elemento -->
  <div mat-dialog-content>
    <!-- Imagen del elemento, con binding de la fuente desde 'data.imagen' -->
    <img [src]="data.imagen" alt="Imagen del elemento" class="imagen-elemento" />
  </div>
</div>
