<!-- Contenedor principal con animación de entrada -->
<div class="center-container" [@fadeIn]>

  <!-- Contenedor de restablecimiento de contraseña -->
  <div class="reset-password-container">
    
    <!-- Título de la sección de restablecimiento de contraseña -->
    <h2 class="reset-password-title">Restablecer Contraseña</h2>
    
    <!-- Formulario para restablecer la contraseña -->
    <form (ngSubmit)="resetPassword()">
      
      <!-- Campo para la nueva contraseña -->
      <div class="form-group">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" placeholder="********">
        </mat-form-field>
      </div>

      <!-- Campo para confirmar la nueva contraseña -->
      <div class="form-group">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Confirmar Nueva Contraseña</mat-label>
          <input matInput type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="********">
        </mat-form-field>
      </div>
      
      <!-- Mensaje de error (si existe) -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      <!-- Mensaje de éxito (si existe) -->
      <div *ngIf="message" class="success-message">
        {{ message }}
      </div>
      
      <!-- Botón para enviar el formulario -->
      <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
    </form>
  </div>
</div>
