.register-user-container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-group.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: #333;
}

.text-right {
  text-align: right;
}

  