.register-user-container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-group.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000; /* Color del texto en el input */
}

/* Estilo para el select */
select {
  background-color: white; /* Fondo del select */
  color: black; /* Color del texto del select */
  border: 1px solid #ccc; /* Borde del select */
  padding: 0.5rem; /* Espaciado interior del select */
  font-size: 16px; /* Tamaño de la fuente del select */
}

/* Estilo para las opciones del select */
select option {
  background-color: white; /* Fondo de las opciones */
  color: black; /* Color del texto de las opciones */
}

/* Estilo para la opción seleccionada */
select option:checked {
  background-color: white; /* Fondo de la opción seleccionada */
  color: black; /* Color del texto de la opción seleccionada */
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: #333;
}

.text-right {
  text-align: right;
}

/* Nuevo estilo para mantener la misma gama de colores */
input:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 5px #666;
}

.form-control:focus {
  outline: none; 
  border-color: #666; 
  box-shadow: 0 0 5px #666; 
}




  