<div class="login-container">
  <h2 class="login-title">Inicio de Sesión</h2>
  <div class="login-content">
    <div class="login-form">
      <form (ngSubmit)="login()">
        <div class="form-group">
          <!-- Usamos mat-form-field con mat-label para que el input muestre "E-mail" internamente -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" id="email" name="email" 
                   [(ngModel)]="email" placeholder="ejemplo@soysena.edu.co" required
                   class="large-input">
          </mat-form-field>
        </div>
        <div class="form-group">
          <!-- Similar para la contraseña -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" id="password" name="password" 
                   [(ngModel)]="password" placeholder="********" required
                   class="large-input">
          </mat-form-field>
        </div>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <!-- Botón sin cambios -->
        <button type="submit" class="btn btn-dark">Ingresar</button>
        <a (click)="forgotPassword()" class="forgot-password">¿Olvidaste tu contraseña?</a>
      </form>
    </div>
    <div class="login-logo">
      <img src="/img/logoSena.png" alt="Sena Logo"> 
    </div>
  </div>
</div>
