<div class="inventory-container">
    <h1 class="text-center font-weight-bold mb-4">Inventario</h1>
  
    <form [formGroup]="searchForm" class="search-form form-inline">
      <input type="text" formControlName="searchId" placeholder="ID" class="form-control mr-2" />
      <input type="text" formControlName="searchElemento" placeholder="Elemento" class="form-control mr-2" />
    </form>
  
    <div class="table-container">
      <table mat-table [dataSource]="filteredInventario" class="mat-elevation-z8 table">
        <!-- Columna: ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="header-cell">ID</th>
          <td mat-cell *matCellDef="let elemento">{{ elemento.id }}</td>
        </ng-container>
  
        <!-- Columna: Elemento -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Elemento</th>
          <td mat-cell *matCellDef="let elemento">{{ elemento.nombre }}</td>
        </ng-container>
  
        <!-- Columna: Cantidad Total -->
        <ng-container matColumnDef="cantidadTotal">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Cantidad Total</th>
          <td mat-cell *matCellDef="let elemento">{{ elemento.cantidadTotal }}</td>
        </ng-container>
  
        <!-- Columna: Cantidad Actual -->
        <ng-container matColumnDef="cantidadActual">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Cantidad Actual</th>
          <td mat-cell *matCellDef="let elemento">{{ elemento.cantidadActual }}</td>
        </ng-container>
  
        <!-- Columna: Ubicación -->
        <ng-container matColumnDef="ubicacion">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Ubicación</th>
          <td mat-cell *matCellDef="let elemento">{{ elemento.ubicacion }}</td>
        </ng-container>
  
        <!-- Columna: Imagen -->
        <ng-container matColumnDef="imagen">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Imagen</th>
          <td mat-cell *matCellDef="let elemento">
            <button mat-icon-button (click)="verImagen(elemento.imagen)" class="icon-btn">
              <mat-icon>photo</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <!-- Columna: Detalles -->
        <ng-container matColumnDef="detalles">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Detalles</th>
          <td mat-cell *matCellDef="let elemento">
            <button mat-icon-button (click)="editarElemento(elemento)" class="icon-btn">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="eliminarElemento(elemento.id)" class="icon-btn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <!-- Filas de la tabla -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <!-- Paginador -->
      <mat-paginator [length]="filteredInventario.data.length"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Seleccionar página">
      </mat-paginator>
    </div>
  </div>
  
